﻿@model IEnumerable<SistemaTime.Models.Times>

<h2>Todos os times</h2>

<p>
    @Html.ActionLink("Adicionar novo time", "IncluirTime")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cores)
        </th>
        <th>
            Ações
        </th>
    </tr>

    @foreach (var item in Model)
    {

        @Html.HiddenFor(model => item.TimesId)

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cores)
            </td>
            <td>
                @Html.ActionLink("Alterar", "EditarTime", new { id = item.TimesId }) |
                @Html.ActionLink("Excluir", "ExcluirTime", new { id = item.TimesId }, new { onclick = "return confirm('Tem certeza que deseja excluir??');"})
            </td>
        </tr>
    }

</table>
